<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Instance Manager</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="left-container">
				<div class="container">
					<h1 id="header">Instance Manager</h1>

					<div class="key-value">
						<div class="key" style="width: 60px;">status:</div>
						<div id="instance-status" class="value">instance is not running</div>
					</div>
					<div class="key-value">
						<div class="key" style="width: 60px;">files:</div>
						<div id="instance-status" class="value"><a href="/download/">download</a></div>
					</div>
					<br>

					<button id="launch-btn" style="background-color: #f69c9e;">Launch Instance</button>
					<button id="kill-btn" style="background-color: #aad2ec;">Kill Instance</button>
					<br>
					<button id="flag-btn-1" style="background-color: #97e3c2;">Get Flag 1</button>
					<button id="flag-btn-2" style="background-color: #97e3c2;">Get Flag 2</button>
					<button id="flag-btn-3" style="background-color: #97e3c2;">Get Flag 3</button>

					<div id="result"></div>
				</div>

				<!-- New JSON Data Panel -->
				<div class="json-container" id="json-panel" style="display: none;">
					<h2>Instance Data</h2>
					<div class="key-value">
						<div class="key">UUID:</div>
						<div id="uuid" class="value"></div>
					</div>
					<hr style="height:10px; visibility:hidden;" />
					<div class="key-value">
						<div class="key">rpc endpoint:</div>
						<div id="rpc-url" class="value"></div>
					</div>
					<hr style="height:10px; visibility:hidden;" />
					<div class="key-value">
						<div class="key">private key:</div>
						<div id="private-key" class="value"></div>
					</div>
					<hr style="height:10px; visibility:hidden;" />
					<div class="key-value">
						<div class="key">setup contract address:</div>
						<div id="setup-contract" class="value"></div>
					</div>
					<hr style="height:10px; visibility:hidden;" />
				</div>
			</div>

			<!-- CTF Challenge Panel -->
			<div class="ctf-container">
				<h2>CTF Challenges</h2>
				<div id="challenge-1">
					<h3>Challenge 1</h3>
					<p>Try interacting with this smart contract and withdraw all the funds from this contract!</p>
					<input type="text" id="flag-input-1" placeholder="Enter flag for Challenge 1">
					<button id="submit-flag-1">Submit Flag</button>
					<div id="flag-result-1"></div>
				</div>

				<div id="challenge-2">
					<h3>Challenge 2</h3>
					<p>Sometimes we will need to deploy our own contracts to do certain things!<p>
					<p>Let's learn how to make a flashloan! :)</p>
					<input type="text" id="flag-input-2" placeholder="Enter flag for Challenge 2">
					<button id="submit-flag-2">Submit Flag</button>
					<div id="flag-result-2"></div>
				</div>

				<div id="challenge-3">
					<h3>Challenge 3</h3>
					<p>Let's try to exploit our first vulnerable contract, this is the re-entrancy attack!</p>
					<input type="text" id="flag-input-3" placeholder="Enter flag for Challenge 3">
					<button id="submit-flag-3">Submit Flag</button>
					<div id="flag-result-3"></div>
				</div>
			</div>
		</div>

		<script>
			var intervalId = null;
			$(document).ready(function() {

				function disableButton() {
					const btn = document.getElementById('launch-btn');
					btn.disabled = true;
					btn.style.backgroundColor = 'grey';
				}

				function enableButton() {
					const btn = document.getElementById('launch-btn');
					btn.disabled = false;
					btn.style.backgroundColor = '#f69c9e';
				}

				$('#kill-btn').click(function() {
					$('#instance-status').text("killing instance...");
					var instance_id = $('#uuid').text();
					$.post('/kill', { instance_id: instance_id }, function(data) {
						$('#instance-status').text("instance is not running");
						clearInterval(intervalId);
						$('#json-panel').hide();
						document.cookie = "instanceData=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
						enableButton();
					});
				});

				$('#flag-btn-1').click(function() {
					var instance_id = $('#uuid').text();
					$.post('/get_flag', { instance_id: instance_id, challenge_id: 0 }, function(data) {
						$('#result').html(data.result.replace(/\n/g, '<br>'));
					});
				});

				$('#flag-btn-2').click(function() {
					var instance_id = $('#uuid').text();
					$.post('/get_flag', { instance_id: instance_id, challenge_id: 1 }, function(data) {
						$('#result').html(data.result.replace(/\n/g, '<br>'));
					});
				});

				$('#flag-btn-3').click(function() {
					var instance_id = $('#uuid').text();
					$.post('/get_flag', { instance_id: instance_id, challenge_id: 2 }, function(data) {
						$('#result').html(data.result.replace(/\n/g, '<br>'));
					});
				});

				$('#submit-flag-1').click(function() {
					var flag = $('#flag-input-1').val();
					$.post('/check_flag', { challenge_id: 0, flag: flag }, function(data) {
						$('#flag-result-1').html(data.result);
					});
				});

				$('#submit-flag-2').click(function() {
					var flag = $('#flag-input-2').val();
					$.post('/check_flag', { challenge_id: 1, flag: flag }, function(data) {
						$('#flag-result-2').html(data.result);
					});
				});

				$('#submit-flag-3').click(function() {
					var flag = $('#flag-input-3').val();
					$.post('/check_flag', { challenge_id: 2, flag: flag }, function(data) {
						$('#flag-result-3').html(data.result);
					});
				});

				function setCookie(name, value, minutes) {
					const d = new Date();
					d.setTime(d.getTime() + (minutes * 60 * 1000));
					let expires = "expires=" + d.toUTCString();
					document.cookie = name + "=" + value + ";" + expires + ";path=/";
				}

				function getCookie(name) {
					let cookieArr = document.cookie.split(";");
					for (let i = 0; i < cookieArr.length; i++) {
						let cookiePair = cookieArr[i].split("=");
						if (name === cookiePair[0].trim()) {
							return decodeURIComponent(cookiePair[1]);
						}
					}
					return null;
				}
				function clearCookie(name) {
					document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
				}

				function startTimer(duration, display) {
					let timer = duration, minutes, seconds;
					intervalId = setInterval(function() {
						minutes = parseInt(timer / 60, 10);
						seconds = parseInt(timer % 60, 10);

						minutes = minutes < 10 ? "0" + minutes : minutes;
						seconds = seconds < 10 ? "0" + seconds : seconds;

						display.text("instance is running! remaining time: " + minutes + ":" + seconds);

						if (--timer < 0) {
							clearInterval(intervalId);
							$('#json-panel').hide();
							clearCookie('instanceData');
						}
					}, 1000);
				}

				// Retrieve cookie on page load
				const instanceData = getCookie('instanceData');
				if (instanceData) {
					const data = JSON.parse(instanceData);
					let remainingTime = data.expiry - new Date().getTime();
					if (remainingTime > 0) {
						startTimer(Math.floor(remainingTime / 1000), $('#instance-status'));
						$('#uuid').text(data.uuid);
						$('#rpc-url').text(data.rpc_url);
						$('#private-key').text(data.private_key);
						$('#setup-contract').text(data.setup_contract);
						disableButton();
						$('#json-panel').show();
					} else {
						clearCookie('instanceData');
						enableButton();
					}
				}

				$('#launch-btn').click(function() {
					$('#instance-status').text("launching instance...");
					disableButton();
					$.post('/launch', function(data) {
						$('#uuid').text(data.uuid);
						$('#rpc-url').text(data.rpc_url);
						$('#private-key').text(data.private_key);
						$('#setup-contract').text(data.setup_contract);
						$('#json-panel').show();

						const expiry = new Date().getTime() + (data.timeout * 60 * 1000); // 20 minutes from now
						setCookie('instanceData', JSON.stringify({ ...data, expiry }), data.timeout);

						startTimer(data.timeout * 60, $('#instance-status'));
					});
				});
			});
		</script>
	</body>
